<!DOCTYPE html>
<html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>🛏Picuang - 永久免费 | 免登录图床</title>
    <link rel="icon" href="/favicon.png">

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap/cover.css" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">必床 Picuang</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li><a href="/">上传</a></li>
                            <li class="active"><a href="/history">历史</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <div id="histories" style="margin-top: 36px">
                    <span id="2019">
                        <span id="2019-9">
                            <span id="2019-9-h">
                                <h3>2019 年 9 月</h3>
                            </span>
                            <span id="2019-9-p">
                                <span id="2019-9-p-1">
                                    <h4>1日</h4>
                                    <img src='http://e.hiphotos.baidu.com/image/h%3D300/sign=907f6e689ddda144c5096ab282b6d009/dc54564e9258d1092f7663c9db58ccbf6c814d30.jpg' style='width: auto; height: auto; max-width: 128px; max-height: 128px; margin: 8px 4px' class='img-thumbnail'>
                                    <img src='http://e.hiphotos.baidu.com/image/h%3D300/sign=907f6e689ddda144c5096ab282b6d009/dc54564e9258d1092f7663c9db58ccbf6c814d30.jpg' style='width: auto; height: auto; max-width: 128px; max-height: 128px; margin: 8px 4px' class='img-thumbnail'>
                                    <img src='http://e.hiphotos.baidu.com/image/h%3D300/sign=907f6e689ddda144c5096ab282b6d009/dc54564e9258d1092f7663c9db58ccbf6c814d30.jpg' style='width: auto; height: auto; max-width: 128px; max-height: 128px; margin: 8px 4px' class='img-thumbnail'>
                                </span>
                                <span id="2019-9-p-2">
                                    <h4>2日</h4>
                                    <img src='http://e.hiphotos.baidu.com/image/h%3D300/sign=907f6e689ddda144c5096ab282b6d009/dc54564e9258d1092f7663c9db58ccbf6c814d30.jpg' style='width: auto; height: auto; max-width: 128px; max-height: 128px; margin: 8px 4px' class='img-thumbnail'>
                                    <img src='http://e.hiphotos.baidu.com/image/h%3D300/sign=907f6e689ddda144c5096ab282b6d009/dc54564e9258d1092f7663c9db58ccbf6c814d30.jpg' style='width: auto; height: auto; max-width: 128px; max-height: 128px; margin: 8px 4px' class='img-thumbnail'>
                                </span>
                            </span>
                        </span>
                        <span id="2019-10">
                            <span id="2019-10-h">
                                <h3>2019 年 10 月</h3>
                            </span>
                            <span id="2019-10-p">
                                <span id="2019-10-p-2">
                                    <h4>2日</h4>
                                    <img src='http://e.hiphotos.baidu.com/image/h%3D300/sign=907f6e689ddda144c5096ab282b6d009/dc54564e9258d1092f7663c9db58ccbf6c814d30.jpg' style='width: auto; height: auto; max-width: 128px; max-height: 128px; margin: 8px 4px' class='img-thumbnail'>
                                    <img src='http://e.hiphotos.baidu.com/image/h%3D300/sign=907f6e689ddda144c5096ab282b6d009/dc54564e9258d1092f7663c9db58ccbf6c814d30.jpg' style='width: auto; height: auto; max-width: 128px; max-height: 128px; margin: 8px 4px' class='img-thumbnail'>
                                </span>
                            </span>
                        </span>
                    </span>
                </div>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>
                        <script type="text/javascript" src="https://js.users.51.la/20181641.js"></script>
                        <br>
                        <a href="http://beian.miit.gov.cn" style="text-decoration: none;"
                           target="_blank">京ICP备18063791号</a>
                        <br>
                        <a href="https://github.com/AdlerED" style="text-decoration: none;" target="_blank"><strong>GitHub:
                            AdlerED</strong></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/axios.min.js"></script>
</body>
</html>